[SddmGreeterTheme]
Name=neon
Description=Minimal neon hacker login theme
Author=trafalgar (XFR4KT4L)
Copyright=2026
License=MIT
Type=sddm-theme
Version=1.0
